body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: #ffd7a0;
  color: #4f2d06;
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(135deg, #bc5609, #d28d58);
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}



.hub {
  text-align: center;
  padding: 15px 0;
  order: 1;
}

.hub h2 {
  margin: 0;
  font-size: 2em;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.1);
  order: 2;
  width: 100%;
  width: calc(100% - 60px);
}

.leftNav {
  margin-right: auto;
}

.rightNav{
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

#account p {
  margin: 0;
  font-weight: bold;
}

.userIcon {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

input, button {
  background-color: #d79244;
  border: 4px solid #6c3f0c;
  border-radius: 10px;
  margin: 8px;
  padding: 10px;
}


footer {
  background: linear-gradient(135deg, #bc5609, #d28d58);
  color: #a94c2a;
  padding: 15px 20px;
  margin-top: 20px;
  border-radius: 15px;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

a {
  text-decoration: none;
  font-size: large;
}

#mainHub {
  margin: 15px;
  border: 5px solid #652d08;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#echos {
  text-align: center;
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}